Tools/FigAniTool2/bin
Tools/FigAniTool2/obj

WindingTale/Library
WindingTale/Temp
WindingTale/Builds
WindingTale/Packages
WindingTale/bak
WindingTale/bin
WindingTale/obj
*.meta
*.suo
Tools/TinyTools/bin/
Tools/TinyTools/obj/
WindingTale/Assets/AddressableAssetsData/
